/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		margin-top: 1rem;
		margin-bottom: 1rem;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1em;
		justify-content: center;
    justify-items: center;
	}

    main section{
        width: 400px;
    }

	/* Menu	*/
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    /* End Menu	*/

/* images */
main section .images{
	margin: 0 auto;
	width: 400px;
}

main section .images picture img{
  margin: 0 auto;
  width: auto;
}
/* End Separator and images */

/* Gallery */
.gallery{
	display: grid;
	margin-top: 1rem;
	margin-bottom: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	justify-content: center;
	justify-items: center;
}
.gallery .imgCard{
  width: 225px;
  margin: 0.5rem auto;
	border: 1px solid #bbb;
	padding: 0px 0px 1px 0px;
	background-color: #eee;
  border-radius: 5px;
}
.pic{
  width: 225px;
}
.imgCard:nth-child(1){
	grid-column: 1;
}
.imgCard:nth-child(2){
	grid-column: 2;
}
.imgCard:nth-child(3){
	grid-column: 1;
}
.imgCard:nth-child(4){
	grid-column: 2;
}
.imgCard:nth-child(5){
	grid-column: 1;
}
.imgCard:nth-child(6){
	grid-column: 2;
}
.imgCard:nth-child(7){
	grid-column: 1;
}
.imgCard:nth-child(8){
	grid-column: 2;
}
.imgCard:nth-child(9){
	grid-column: 1;
}
.imgCard .caption p{
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.imgCard:hover{
  box-shadow: 0 0 30px #333;
	border: 0;
}
/* End Gallery */


	.info {
	  margin: 0 auto;
	  display: flex;
	  padding: 10px;
	  justify-content: left;
	}
	.info .text{
		margin-top: 10%;
		padding-left: 50px;
	}
	.social{
	  margin: 0 auto;
		padding: 10px;
	}
	.info p{
	  text-align: left;
	  font-size: medium;
	}
	.map{
		display: block;
		width: 250px;
		height: 262px;
	  border: 3px solid #666699;
	  box-shadow: 5px 5px 5px #999;
	}

		/* Banner */
		.herodiv {margin: 10px auto; position: relative;}

		.stats {
			position: absolute;
			width: 100px;
		  height: 120px;
		  top: 0;
		  right: 60%;
			background: radial-gradient(#eee, #666699);
			border: 1px solid #000;
			padding: 1.5rem;
			box-shadow: 0 0 30px #333;
			opacity: .9;
		}
		/* End Banner */
}
